
p {

}

h1 {
    Font-size: 250%;
    Font-weight: bold;
    color: black
}

h2 {
    Font-size
}

Body{background: deepskyblue;
    Color: black;
    Font-size 12pt;
    font-family: 'Krub', sans-serif;



}

a {
    display:inline-block;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;



}


    


